/* App.css */
body{
  background: white;
}
/* Styles for the app container */
.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #7c5bea;
}

/* Styles for the expense form */
.expense-form {
  margin-bottom: 20px;
}

.expense-form h2 {
  font-size: 20px;
  margin-bottom: 10px;
  align-items: center;
}

.expense-form input[type="number"],
.expense-form input[type="text"],
.expense-form input[type="date"] {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
}

.expense-form button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.expense-form button:hover {
  background-color: #45a049;
}

/* Styles for the expense list */
.expense-list {
  margin-bottom: 20px;
  border-radius: 16px;
}

.expense-item {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.expense-item div {
  margin-bottom: 5px;
}

.expense-item button {
  padding: 5px 10px;
  background-color: #f44336;
  border-radius: 20px;
  justify-content: space-between;
  color: white;
  border: none;
  cursor: pointer;
}

.expense-item button:hover {
  background-color: #d32f2f;
}

/* Styles for the summary */
.summary {
  margin-bottom: 20px;
}

.summary h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.summary-item {
  font-weight: bold;
}
.description {
  font-size: 400;

}

/* Rest of your CSS styles */