/* App.css */
body{
  background: white;
}
/* Styles for the app container */
.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #7c5bea;
}

/* Styles for the expense form */
.expense-form {
  margin-bottom: 20px;
}

.expense-form h2 {
  font-size: 20px;
  margin-bottom: 10px;
  align-items: center;
}

.expense-form input[type="number"],
.expense-form input[type="text"],
.expense-form input[type="date"] {
  width: 50%;
  padding: 10px;
  margin-left: 120px;
  margin-bottom: 10px;
  border-radius: 12px;
}

.expense-form button {
  padding: 10px 20px;
  background-color: #4caf50;
  margin-left: 20px;
  color: white;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.expense-form button:hover {
  background-color: #2d4d2f;
}

/* Styles for the expense list */
.expense-list {
  margin-bottom: 20px;
  border-radius: 16px;
}

.expense-item {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.expense-item div {
  margin-bottom: 5px;
}

.expense-item button {
  padding: 5px 10px;
  background-color: #f44336;
  margin-left: 20px;
  border-radius: 20px;
  justify-content: space-between;
  color: white;
  border: none;
  cursor: pointer;
}

.expense-item button:hover {
  background-color: #2b1414;
}

/* Styles for the summary */
.summary {
  margin-bottom: 20px;
}

.summary h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.summary-item {
  font-weight: bold;
}
.description {
  font-size: 400;

}

.expense-list h2 {
  align-items: center;
}


header {
  background-color: lightblue;
  padding: 30px;
  color: black;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-size: 24px;
  margin: 0;
}

.expense-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.expense-form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: lightgray;
}

.summary {
  border: 1px solid #5d9bb1;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.summary h2 {
  margin-top: 0;
}

.summary-item {
  margin-bottom: 10px;
}

.expense-item input::placeholder {
  font-size: 14px;
  font-weight: bold;
  color: #888;
}
.expense-item .edit-button {
  margin-right: 30px;
}

.expense-item .delete-button {
  margin-left: 50px;
}

.expense-list {
  background-color: lightgray;
}
/* Rest of your CSS styles */